.zhong1_1_left{
	width: 1190px;
	height: 26px;
	margin: 20px auto 0;
	border-bottom: 2px solid black;
}
.zhong1_1_left p:nth-child(1){
	width: 7px;
	height: 19px;
	background: #B70841;
	float: left;
}
.zhong1_1_left p:nth-child(2){
	float: left;
	margin-left: 5px;
}
.Center_top{
	width: 1188px;
	height: 400px;
	margin: auto;
	border: 1px solid #E4E4E4;
}
.Center_top li{
	width: 1132px;
	height: 95px;
}
.Center_top li img{
	width: 172px;
	height: 56px;
	border: 1px solid #E4E4E4;
		margin-top: 15px;
}
.li_div{
	width: 174px;
	height: 117px;
	float: left;
	margin-left: 6px;
	margin-top: 15px;
	border-bottom: 1px dashed  darkgray;
}
.li_div:hover p{
	color: orange;
}
.li_div:hover img{
	border: 1px solid orange;
}
.li_div:nth-child(1){
	margin-left: 58px;
}
.li_div p{
	margin-left: 4px;
	margin-top: 10px;
}
.Center_top li:nth-child(3) .li_div{
	border-bottom: none;
}
.Center_End{
	width: 1190px;
	height: 1080px;
	margin: auto;
}
.Center_End li{
	width: 556px;
	height: 334px;
	float: left;
	margin-left: 25px;
	margin-top: 20px;
	border: 1px solid #E4E4E4;
}
.Center_End li img{
	width: 538px;
	height: 276px;
   margin-top: 8px;
   margin-left: 7px;
}
.Center_End_div{
	width: 556px;
	height: 40px;
}
.Center_End_div p:nth-child(1){
	font-size: 13px;
	margin-left: 7px;
	margin-top: 12px;
	float: left;
}
.Center_End_div p:nth-child(2){
	width: 120px;
	height: 30px;
	background: black;
	font-size: 13px;
	color: white;
	text-align: center;
    line-height: 30px;
    float: right;
    margin-right: 10px;
    margin-top: 8px;
}.Center_End li:hover p:nth-child(1){
	color: orange;
}
